<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCats</title>
  <%= csrf_meta_tags %>
</head>
<body>
<table>
  <tr>
    <th> Name </th>
    <th> Birthdate </th>
    <th> Color </th>
    <th> Sex </th>
  </tr>

  <% Cat.all.each do |cat| %>
    <tr>
      <td> <%= cat.name %> </td>
      <td> <%= cat.birth_date %> </td>
      <td> <%= cat.color %> </td>
      <td> <%= cat.sex %> </td>
    </tr>
  <% end %>
    
  
</table>

<%= yield %>

</body>
</html>
